#GalleryIndex
{
  margin: 0 auto; padding: 0;
  text-align: center;
  list-style-type: none;
  font-size: 16px;
}

#GalleryIndex li
{
  display: block;
  overflow: hidden;
  margin: 15px 0 15px;
  text-align: center;
}

/*
#GalleryIndex li:nth-child(3n+2) {
  margin: 15px 15px 15px 0;
}


#GalleryIndex li:nth-child(3n)
{
	float: none;
	margin: 15px auto 0;
	width: 45%;
	clear: both;
	display: block;
}
*/

#GalleryIndex li a
{
	text-decoration: none;
	font-weight: 800;
}
#GalleryIndex li img
{
	margin: 0 auto;
	border: solid 2px #fff;
	display:block;
}

/* Mobile styles */
.mobile #GalleryIndex li
{
  float: none;
  margin: 15px auto;
}

.mobile #GalleryIndex li:nth-child(3n+2),
.mobile #GalleryIndex li:nth-child(3n)
{
  margin: 15px auto;
  width: auto;
  display: block;
}
