body { 
  overflow: hidden;
}

#Content 
{ 
  position: relative;
}

/* Layout Container for thumbnail viewer on the left side */
#LayoutContainer #DisplayDiv
{
  position: relative;
  margin: 15px auto 0;
  text-align: center;
}

#LayoutContainer #DisplayImg 
{ 
  margin-top: 120px;
  border: solid 3px #fff;
}

.navImg 
{ 
  position: absolute;
  border: solid 2px #fff;
}

#MessageBackground
{
  position: absolute;
  height: 70px;
  background-color: #999;
  opacity: 0.7;
}

#Message 
{
  position: absolute;
  color: gold;
  font: 700 16px arial;
  text-align: left;
  padding: 5px 10px 0;
}

#ThumbnailViewer
{
  visibility: hidden;
  position: fixed;
  right: 0;
  bottom: 5px;
  margin: 0 0 0 -8%;
  padding: 0;
  height: 260px;
  border: solid 1px #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #222;
}

#ThumbnailMenubar 
{
  float: left;
  position: relative;
  width: 50px;
  height: 100%;
  color: #000;
  background-color: #fff;
  border: solid 1px #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#ThumbnailMenubar a 
{
  position: absolute;
  left: 30px;
  top: 120px;

  -moz-transform-origin: bottom left;
  -webkit-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;

  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg) ;
  -o-transform: rotate(-90deg) ;
  -ms-transform: rotate(-90deg) ;
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);

  display: block;
  font-weight: 800;
  font-size: 18px;
  color: #000;
}

#Options 
{
  text-align: left;
  padding-bottom: 5px;
  border-bottom: solid 1px #fff;
  font-size: 16px;
}

#Options div
{
  margin: 5px 10px 0 10px;
}

#Options input[type=checkbox]
{
  margin-left: 10px;
  width: 20px; height: 20px
}

#ThumbnailContent 
{
  overflow-y: scroll;
  margin: 10px 0;
  height: 73%;
  width: 85%;
}

#ThumbnailViewer .row 
{
  height: 70px;
}

#ThumbnailViewer img 
{
  margin: 0 0 10px 10px;
}

#ThumbnailViewer img.thumb 
{
  border: solid 2px #fff;
}

#ThumbnailViewer img.blank 
{
  border: solid 2px transparent;
}

/* mobile styles */

.mobile h1 
{ 
  font-size: 28px;
}

.mobile #LayoutContainer #DisplayImg 
{ 
  margin-top: 180px;
}

.mobile #ThumbnailViewer .row 
{
  height: 100px;
}

.mobile #ThumbnailMenubar 
{ 
  width: 60px;
}

.mobile #ThumbnailMenubar a 
{
  left: 45px;
  top: 145px;
  font-size: 26px;
}

.mobile #Options label 
{
  font-size: 20px;
}